<!DOCTYPE html>
<meta charset="UTF-8"> 
<html>
    <header>
        <title>System obsługi Studenta</title>
        <link rel="icon" href="img/logo.ico" />
    </header>
    <body>
        <center>
        <img src="img/logo.png">
        <form>
            <input type="submit" name="Plan zajęć" value="Plan zajec"></br>
            <input type="submit" name="Wnioski" value="Wnioski"></br>
            <input type="submit" name="Ankiety" value="Ankiety"></br>
            <input type="submit" name="Inne" value="Inne">  
        </form>
        </center>
    </body>
</html>